<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true"
	verbose="false"
>
	<testsuites>
		<testsuite name="Phayes\geoPHP tests">
			<directory>unitTests/Geometry</directory>
		</testsuite>
	</testsuites>
	<filter>
	<whitelist addUncoveredFilesFromWhitelist="true">
		<directory>../src/</directory>
	</whitelist>
</filter>
	<logging>
		<log type="coverage-text" target="php://stdout" />
		<!--<log type="coverage-html" target="coverage" />-->
		<!--<log type="coverage-clover" target="coverage/clover.xml" />-->
	</logging>
</phpunit>
